.cards {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.cards .card {
  background-color: royalblue;
  border-radius: 8px;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  width: calc(100% - 20px);
  max-width: calc(100% - 20px);
  min-width: calc(100% - 20px);
  margin-bottom: 30px;
}

@media (min-width: 768px) {
  .cards .card {
    width: calc(50% - 20px);
    max-width: calc(50% - 20px);
    min-width: calc(50% - 20px);
  }
}

@media (min-width: 1200px) {
  .cards .card {
    width: calc(25% - 20px);
    max-width: calc(25% - 20px);
    min-width: calc(25% - 20px);
  }
}

.cards .card h2 {
  margin-bottom: 10px;
  font-weight: 400;
  opacity: .6;
  font-size: 20px;
}

.cards .card h2 {
  text-transform: uppercase;
  font-size: 22px;
  opacity: 1;
}

.cards .card h2.title-primary {
  color: royalblue;
}

.cards .card h2.title-secondary {
  color: orangered;
}

.cards .card h3 {
  opacity: .6;
  font-size: 16px;
}

#page-home span {
  margin-bottom: 5px;
}

#page-home span.first-result {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 10px;
}

#page-home span.second-result {
  font-size: 28px;
  font-weight: bold;
}

#page-home .cards .card:not(:first-child) {
  background-color: white;
  color: black;
  border-bottom: 5px solid royalblue;
}

#page-home .cards .card:not(:first-child) span {
  font-size: 22px;
  margin-top: 12px;
}

#page-home .cards .card.border-blue {
  background-color: royalblue;
}
#page-home .cards .card.border-orange {
  border-bottom: 5px solid orangered;
}
#page-home .cards .card.border-green {
  border-bottom: 5px solid rgb(104, 196, 104);
}
#page-home .cards .card.border-violet {
  border-bottom: 5px solid rgb(255, 94, 94);
}
#page-home .cards .card.border-red {
  border-bottom: 5px solid red;
}

